@page "/fetchdata"

@using blazor_base
@inject O365Data O365txt

<h1>Institutional Knowledge Learner on O365</h1>

<p>This WebApp consumes O365 content data to feed to an ML model that will categorize your unstructured text for you</p>

@if (O365txt == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Msg Num</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Centroid #</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@o365Data.Subject</td>
            </tr>
            
        </tbody>
    </table>
}

@code {
    //private WeatherForecast[] forecasts;

    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    //}
    private O365Data o365Data;

    protected override async Task OnInitializedAsync()
    {
        o365Data = new O365Data();
    }
}


